body{
    margin: 0;
  }
  .margin{
    margin: 100px;
    font-size: 24px;
  }
  .table{
    width: 100%;
    text-align: left;
  }
  
  .table td{
    padding: 10px 0;
  }
  .menu-link{
    background-color: #253a46;
    padding: 20px;
    font-size: 20px;
  }
  .link{
    color: #fff;
    padding-right: 50px;
    }
.center{
    text-align: center;
}
.rojo{
  color: rgb(255, 0, 0);
}
.pub-titulo{
  cursor: pointer;
  border-top: 1px solid #000;
}

li{
  margin: 15px 0;
}
.contenedor_tareas {
  margin-left: 50px;
  margin-bottom: 70px;
}
.m-left{
  margin-left: 20px;
}