body{
  margin: 0;
}
.margin{
  margin: 100px;
  font-size: 24px;
}
.table{
  width: 100%;
  text-align: left;
}

.table td{
  padding: 10px 0;
}
.menu-link{
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}
.link{
  color: #fff;
  padding-right: 50px;
  }